<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @goal.activity %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @goal.unit %>
</p>

<p>
  <strong>Timeframe:</strong>
  <%= @goal.timeframe %>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @goal.measurement %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
